*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body,
#app {
	width: 100%;
	min-height: 100%;
}

body {
	margin: 0;
	overflow: hidden;
	background: #171a31;
	color: #f5f2e9;
}

button,
input,
textarea,
select {
	font: inherit;
}

:root {
	color-scheme: dark;

	--color-hot: #ff8350;
	--color-muted: #9aa8ae;
	--color-signal: #68f4da;
	--font-display:
		"Arial Narrow",
		"Roboto Condensed",
		"Helvetica Neue",
		sans-serif;
	--font-mono: "SFMono-Regular", "Roboto Mono", "Cascadia Code", monospace;
}
